.header {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background to blend with the global image */
  color: white;
  padding: 10px 20px;
  padding-right: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .logo {
  max-width: 150px; 
  height: auto;
}

.header nav {
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-family: 'Abril Fatface', serif;
  font-size: 1.1em;
}

.header nav a:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}
