.login {
  margin-top: 60px; 
  padding: 20px;
  max-width: 400px;
  margin: 60px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
}

.login h2 {
  font-family: 'Abril Fatface', serif;
  color: #333;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.login button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #0056b3;
}
