.movies {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .movies h2 {
    font-family: 'Abril Fatface', serif;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-item {
    margin: 10px;
    text-align: center;
  }
  
  .poster {
    max-width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .average-rating {
    margin-left: 5px;
    font-size: 1.2em;
  }
  