.profile {
  margin-top: 80px; /* Adjust based on header height */
  padding: 20px;
  max-width: 800px;
  margin: 80px auto; /* Centers the profile component */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.profile h2 {
  font-family: 'Abril Fatface', serif;
  color: #333;
}

.profile .profile-pic {
  max-width: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile .username {
  font-family: 'Abril Fatface', serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.profile .review-list {
  margin-top: 20px;
}

.profile .review-item {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
